################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AppManage/FileContentIndex/5b8115cb-e380-4a3d-8b8c-d3550679f4c0.vsidx
